<app-paginaum></app-paginaum>

    

    

<div class="imagemdefundo">
    <img src="" alt="">


    <div class="caixa">
        <div class="caixaesquerda">
            <img src="/assets/89736682_2660530294065749_9081408459890491392_n.jpg" >
        </div>

        <div class="caixadireita">
            <h1>Endrew Reis</h1>
            <h2>Analista de TI JR</h2>

            <h3>Telefone: </h3>
            <p>(11) 96219-7974</p>

            <h3>Endereço: </h3>
            <p> Rua Fortunato Nolla 121<br>
            São Paulo - Chacará Belenzinho<br>
            CEP: 03380-030
            </p>

            <h3>Data De Nascimento:</h3>
            <p>24 de Junho de 2002</p>
        </div>
    </div>
</div>   
    

    <div class="caixabaixo">
        <div class="imagemgeral">
            <a href="https://www.linkedin.com/in/endrew-cuoco-soares-dos-reis-10a49211a/"> <img src="/assets/1490889701-linkedin_82539.png"> </a>
        
        <div class="a">
            <a href="https://www.facebook.com/endrew.cuocosoaresreis/"> <img  src="/assets/png-transparent-facebook-logo-facebook-computer-icons-logo-blog-facebook-icon-text-rectangle-symbol-thumbnail (1).png"> </a>
        </div>
       
           <a href="https://www.instagram.com/end_csr/"> <img src="/assets/1936319.png" > </a>

        <div class="b">
          <a href="https://github.com/Endrew-Cuoco-Soares-Dos-Reis">  <img src="/assets/25231.png" > </a>
        </div>
        </div>
    </div>

    

    <div class="texto">
        <h1>Sobre Mim</h1>
        <p>Sou um Jovem programador com muita vontade de aprender linguagens novas e muito esforçado para conquistar meus objetivos
            pessoais e atender a demanda da empresa,este é um site que criei para conhecerem mais sobre a minha pessoa
        </p>

        <div class="responsividade">
            <h3>PAGINA NÃO RESPONSIVA</h3>
        </div>
    </div>

    <embed src="/assets/Trovoada02.mp3" autostart="true" loop="true" width="0" height="0">
   
