hr{
    color: black;
   padding: 10px;
}

.imagens1 img{
    width: 33.3%;
    justify-content: space-around;
}

.imagens2 img{
    width: 33.3%;
    justify-content: space-around;
}

.imagens3 img{
    width: 33.3%;
    justify-content: space-around;
}

.imagens4 img{
    width: 33.3%;
    justify-content: space-around;
}

.imagens5 img{
    width: 33.3%;
    justify-content: space-around;
}

.imagens6 img{
    width: 33.3%;
    justify-content: space-around;
}

.imagens7 img{
    width: 33.3%;
    justify-content: space-around;
}
