<app-paginaum></app-paginaum>

<div class="imagens1">
<img src="/assets/Angular 9 + Spring Boot 2.2 Fullstack Completo e Atualizado.jpg">

<img src="/assets/API RESTful com SpringBoot.jpg"> 

<img src="/assets/Como ser um Profissional de Destaque.jpg"> 
<hr>
</div>

<div class="imagens2">
<img src="/assets/CRM de Vendas e Prospecção Automática B2B com o Pcontrol.jpg">

<img src="/assets/Curso Completo Criar Sites com Design Profissional WordPress.jpg"> 

<img src="/assets/Curso completo para falar em público e fazer apresentações.jpg"> 
<hr>
</div>

<div class="imagens3">
<img src="/assets/Curso de SQL Completo - Aplicado ao Mercado de Trabalho.jpg">

<img src="/assets/Curso para desenvolvimento de jobs com Spring Batch.jpg"> 

<img src="/assets/Design Sprint.jpg"> 
<hr>
</div>

<div class="imagens4">
<img src="/assets/Formação Cientista de Dados com Python e R [2022].jpg">

<img src="/assets/Java COMPLETO Programação Orientada a Objetos +Projetos.jpg"> 

<img src="/assets/Java para Iniciantes ao Intermediário.jpg"> 
<hr>
</div>

<div class="imagens5">
<img src="/assets/Java primeiros passos Lógica de Programação e Algoritmos.jpg">

<img src="/assets/JavaScript Completo de A a Z + Projetos Profissionais.jpg"> 

<img src="/assets/Kanban COMPLETO de A a Z + 4 Cursos Extras.jpg"> 
<hr>
</div>

<div class="imagens6">
    <img src="/assets/Node JS Curso Completo do Básico ao Avançado.jpg">
    
    <img src="/assets/PowerPoint Completo Crie Apresentações Profissionais.jpg"> 
    
    <img src="/assets/Testes Automáticos + Curso COMPLETO de Teste de Software.jpg"> 
    <hr>
</div>

<div class="imagens7">
<img src="/assets/Testes unitários em JAVA Domine JUnit, Mockito e TDD.jpg">
        
<img src="/assets/UI & UX Design de aplicativos e sites - Adobe XD e PSD 2022.jpg"> 
        
<img src="/assets/UX & Design Thinking Experiência do Usuário nos negócios.jpg"> 
<hr>
</div>

